<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
</head>
<body>

	<div th:replace="fragments/header :: header">...</div>
	
	<div class="container">
	
		<div class="col-sm-4"></div>
		
		<div class="col-sm-4">
			<h1 th:text="#{label.profile.title}" class="form-signin">form</h1>
			<br/>

			    <div>

			        <label th:text="#{label.user.username}" >username</label><br/>
			        <input disabled th:field="${model.username}" class="form-control"  autofocus="true" />
			    </div>
			    <div>

			        <label th:text="#{label.user.email}" >email</label>
			        <input disabled th:field="${model.email}" type="email" class="form-control"/>
			    </div>
<!--			<div>-->

<!--				<label th:text="#{label.user.password}" >password</label>-->
<!--				<input disabled th:field="${model.password}" class="form-control"/>-->
<!--			</div>-->
			<div>

				<label th:text="#{label.user.role}" >role</label>
				<input disabled th:field="${model.role}"  class="form-control"/>
			</div>
			<div sec:authorize="hasAuthority('ROOT')" >

				<label th:text="#{label.user.createdDate}" >role</label>
				<input disabled th:field="${model.createdDate}"  class="form-control"/>
			</div>


<!--			<div>-->

<!--				<h1 sec:authorize="hasRole('Master_User')">  Successes </h1>-->

<!--			</div>-->

			<hr class="hr-2 w-25 bg-dark">
			<div class="button-holder d-flex justify-content-center">
				<a href="/user/profile/edit" class="btn btn-dark">Edit Profile</a>
			</div>
		</div>
	
		<div class="col-sm-4"></div>
			
	</div>
	 
	
</body>
</html>