<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="angularTable">
<head th:replace="fragments/head :: headerFragment">
</head>

<body>
<div th:replace="fragments/header :: header">...</div>
<main class="container">
    <h1>User Management</h1>

    <div class="" style="margin-top:90px;">

        <div class="">

            <div class="bs-component" ng-controller="listdata">

                <table class="table table-striped table-hover">
                    <form class="form-inline">
                        <div class="form-group"style="margin-bottom:40px;">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <thead>
                    <tr>
                        <th th:text="#{label.users.all.username}" ng-click="sort('username')" width="40%">email</th>
                        <span class="glyphicon sort-icon" ng-show="sortKey=='username'"
                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        <th th:text="#{label.users.all.id}" ng-click="sort('id')">user</th>
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        <th th:text="#{label.users.all.email}" ng-click="sort('email')">Email</th>
                        <span class="glyphicon sort-icon" ng-show="sortKey=='email'"
                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        <th th:text="#{label.users.all.isenable}" ng-click="sort('enable')">isEnabled</th>
                        <span class="glyphicon sort-icon" ng-show="sortKey=='enable'"
                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        <th th:text="#{label.users.all.createDate}" ng-click="sort('createdDate')"></th>
                        <span class="glyphicon sort-icon" ng-show="sortKey=='createdDate'"
                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                        <th th:text="#{label.users.all.editUseer}">edit!</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                        <td>{{user.username}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.enable}}</td>
                        <td>{{user.createdDate | date}}</td>
                        <td>
                            <a href="/quiz/{{todo.id}}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
    <script type="text/javascript" src="..userApp.js" th:src="@{/js/userApp.js}"></script>
    <script type="text/javascript" src="..dirPagination.js" th:src="@{/js/dirPagination.js}"></script>
</main>
</body>


<!--<body  ng-app="todos" ng-controller="TodoController">-->
<!--<div th:replace="fragments/header :: header">...</div>-->
<!--<main  class="container">-->
<!--<h1>User Management</h1>-->
<!--&lt;!&ndash;						<li sec:authorize="hasAnyAuthority('Master_User')">Master_User</li>&ndash;&gt;-->
<!--&lt;!&ndash;						<li sec:authorize="hasAnyAuthority('Admin','ROOT')">Admin</li>&ndash;&gt;-->
<!--&lt;!&ndash;						<li sec:authorize="hasAnyAuthority('ROOT')">ROOT</li>&ndash;&gt;-->
<!--<h4>{{todos.length}} total</h4>-->
<!--&lt;!&ndash;<h4>{{filteredTodos}} total</h4>&ndash;&gt;-->
<!--	<table class="table table-hover" align="center">-->
<!--		<thead>-->
<!--		<tr>-->
<!--			<th th:text="#{label.users.all.usernameid }" width="70%">user</th>-->
<!--			<th th:text="#{label.users.all.email}">email</th>-->
<!--			<th th:text="#{label.users.all.isenable}">isenable</th>-->
<!--			<th th:text="#{label.users.all.createDate}"></th>-->
<!--			<th th:text="#{label.users.all.editUseer}">edit!</th>-->
<!--		</tr>-->
<!--		</thead>-->
<!--		<tbody>-->
<!--		<tr ng-repeat="todo in filteredTodos">-->
<!--			<td>-->
<!--				<h4>{{todo.username}}</h4>-->
<!--				<h5><small class="text-muted">{{todo.id}}</small></h5>-->
<!--			</td>-->
<!--			<td >-->
<!--				<p>{{todo.email }}</p>-->
<!--			</td>-->
<!--			<td>-->
<!--				<p>{{todo.enabled }}</p>-->
<!--			</td>-->
<!--			<td sec:authorize="isAuthenticated()">-->
<!--				<p>{{todo.createdDate | date }}</p>-->
<!--			</td>-->
<!--			<td>-->
<!--				<a href="/quiz/{{todo.id}}" class="btn btn-warning">-->
<!--					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
<!--				</a>-->
<!--			</td>-->
<!--		</tr>-->
<!--		</tbody>-->
<!--	</table>-->

<!--<pagination id="for-rerun"-->
<!--		ng-model="currentPage"-->
<!--		total-items="todos.length"-->
<!--		max-size="maxSize"-->
<!--		boundary-links="true">-->
<!--</pagination>-->

<!--&lt;!&ndash;	<script>&ndash;&gt;-->
<!--&lt;!&ndash;		console.log(document.getElementById("for-rerun"));&ndash;&gt;-->
<!--&lt;!&ndash;	</script>&ndash;&gt;-->
<!--</main>-->

<!--</body>-->

</html>
